#box{
	width: 100%;
	height: 100%;
	min-width: 1200px;
}


/*最上层头部*/
#header{
	width: 100%;
	height: 30px;
	font-size: 12px;
	line-height: 30px;
	background-color: #f2f2f2;
}

#header .container{
	height: 30px;
}

.c-left{
	width: 550px;
	height: 100%;
}

.c-left-l{
	width: 100px;
	height: 100%;	
	background-image: url("../img/tubiao.png");
	background-repeat: no-repeat;
	background-position: 3px 6px;
	
}

.c-left-l p{
	text-align: center;
	padding-left: 13px;
	
}

.c-left-l a{
	color: #93667d;
}

.c-left-l a:hover{
	color: #ff6600;
}

.c-left-r{
	width: 250px;
	height: 100%;
}

.c-left-r span{
	color: #999999;
}
.c-left-r a{
	color: #666666;
}

.c-left-r a:hover{
	color: #ff6600;
}

.c-right{
	width: 650px;
	height: 100%;
	/*background-color: chartreuse;*/
	
}

.c-r-s1{
	display: inline-block;
	width: 70px;
	height: 100%;
	position: relative;
	z-index: 200;
}

.c-r-s1 a{
	color: #666666;
}

.c-r-s1 a:hover{
	color: #ff6600;
}

.c-r-s2{
	display: inline-block;
	width: 80px;
	height: 100%;
	position: relative;
	padding: 0 5px 0 10px;
	box-sizing: border-box;
	
}

.c-r-s2 a{
	color: #666666;
	
}

.c-r-s2 a:hover{
	color: #ff6600;
}
.c-r-s2 i{
	background-image: url("../img/tubiao.png");
	background-repeat: no-repeat;
	display: inline-block;
	width: 7px;
	height: 4px;
	background-position: 0 -27px;
	position: absolute;
	top: 13px;
	right: 8px;
}

.sub-item{
	width: 80px;
	position: absolute;
	top: 30px;
	right: -1px;
	display: none;
	border: 1px solid #dddddd;
	padding: 4px 0 0 10px;
}

.c-r-s2:hover ul{
	display: block;
	background-color: #FFFFFF;
	z-index: 100;
}

.c-r-s2>ul>li:hover{
	text-decoration: underline;
}

.c-r-s2:hover{
	background-color: #FFFFFF;
	border: 1px solid #ccc;
}

.c-r-s3{
	display: inline-block;
	width: 80px;
	height: 100%;
	position: relative;
	padding: 0 5px 0 10px;
	box-sizing: border-box;
	
}

.c-r-s3 a{
	color: #666666;
}

.c-r-s3 a:hover{
	color: #ff6600;
}
.c-r-s3 i{
	background-image: url("../img/tubiao.png");
	background-repeat: no-repeat;
	display: inline-block;
	width: 7px;
	height: 4px;
	background-position: 0 -27px;
	position: absolute;
	top: 13px;
	right: 8px;
}

.c-r-s3:hover ul{
	display: block;
	background-color: #FFFFFF;
	z-index: 100;
}

.c-r-s3:hover{
	background-color: #FFFFFF;
	border: 1px solid #ccc;
}

.c-r-s3>ul>li:hover{
	text-decoration: underline;
	
}

.sg{
	color: #e5e5e5;
}

.c-r-s4{
	height: 100%;
	background-image: url("../img/tubiao.png");
	background-repeat: no-repeat;
	background-position: 2px -47px;
	padding-left: 23px;
	line-height: 30px;
	padding-right: 5px;
	
}

.c-r-s4 a{
	color: #666666;
}

#gwc_n{
	color: #ff6600;
}

.c-r-s4 a:hover{
	color: #ff6600;
}

.c-r-s5{
	height: 100%;
	background-image: url("../img/tubiao.png");
	background-repeat: no-repeat;
	background-position: 0 -72px;
	padding-left: 20px;
	border-left: 1px solid #e9e9e9;
}
.c-r-s5 a{
	color: #666666;
	margin-right: 5px;
}

.sjb_ewm{
	display: inline-block;
	width: 168px;
	height: 203px;
	background-image: url("../img/tubiao.png");
	background-repeat: no-repeat;
	background-position: 0 -146px;
	display: none;
	z-index: 100;
}

.c-r-s5:hover a{
	color: #ff6600;
}

.c-r-s5:hover .sjb_ewm{
	display: block;
	position: absolute;
	margin: -5px 0 0 297px;
}

.c-r-s6{
	height: 100%;
	position: relative;
	padding-left: 20px;
}

.c-r-s6 i{
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url("../img/tubiao.png");
	background-repeat: no-repeat;
	background-position: -100px 0;
	position: absolute;
	top: 0;
	left: 0;
}

.c-r-s6 a{
	color: #ff6600;
}


/*通栏广告*/
#tlgg{
	width: 100%;
	height: 95px;
}

#tlgg .container img{
	width: 100%;
	height: 95px;
}

/*头部导航*/
#tbdh{
	width: 100%;
	height: 100px;
}

#tbdh .container{
	height: 100px;
	padding-top: 20px;
	position: relative;
	box-sizing: border-box;
}

.logo{
	width: 400px;
	height: 80px;
}

.logo img{
	position: absolute;
	left: 8px;
	bottom: 14px;
	width: 196px;
	height: 56px;
}

.baozhang{
	width: 340px;
	height: 80px;
	background-image: url("../img/ind_top_bq1.gif");
	background-repeat: no-repeat;
	
}

.bz-a1{
	display: inline-block;
	width: 76px;
	height: 80px;
	position: absolute;
	top: 17px;
	left: 400px;
	
}

.bz-a2{
	display: inline-block;
	width: 62px;
	height: 80px;
	position: absolute;
	top: 17px;
	left: 477px;
}

.bz-a3{
	display: inline-block;
	width: 198px;
	height: 80px;
	position: absolute;
	top: 17px;
	left: 538px;
}

#ss{
	width: 330px;
	position: absolute;
	right: 0;
	top: 31px;
}

#text-ss{
	width: 330px;
	height: 60px;
}

.ssk{
	width: 251px;
	height: 34px;
	border: 2px solid #90C221;
	box-sizing: border-box;
	position: relative;
}

.ssk i{
	display: inline-block;
	width: 30px;
	height: 26px;
	background-image: url("../img/tubiao.png");
	background-repeat: no-repeat;
	background-position: 5px -353px;
	position: absolute;
	top: 4px;
	left: 2px;
}

#ssk-text{
	width: 247px;
	height: 30px;
	padding-left: 33px;
}

.ssan{
	width: 78px;
	height: 34px;
}

#ss-btn{
	width: 78px;
	height: 34px;
	background-color: #90c31f;
	color: #FFFFFF;
	line-height: 34px;
	font-size: 14px;
	font-weight: bold;
	
}

.rmss{
	width: 330px;
	height: 25px;
	line-height: 25px;
	color: #999999;
	font-size: 12px;
}

.rmss a{
	color: #999999;
}

.rmss a:hover{
	color: #ff6600;
}

/*导航栏*/
#nav{
	height: 35px;
	line-height: 35px;
	background-color: #90c31f;
}

.spfl{
	width: 210px;
	height: 35px;
	font-size: 14px;
	color: #FFFFFF;
	position: relative;
	background-color: #6d9d03;
}

/*模拟下拉菜单*/
.spfl .sp{
	width: 210px;
	height: 320px;
	background-color: #FFFFFF;
	position: relative;
	/*display: none;*/
	z-index: 1;
	border: 1px solid #CCCCCC;
}

.spfl .sp .list_item{
	width: 210px;
	height: 46px;
	box-sizing: border-box;
}

.spfl .sp .list_item p{
	width: 110px;
	height: 45px;
	cursor: pointer;
	color:  #666666;
	font-size: 12px;
	line-height: 45px;
	float: left;
}

 .item_left_img1{
	display: block;
	width: 30px;
	height: 30px;
	background-image: url("../img/tubiao.png");
	background-repeat: no-repeat;
	background-position: 0 -414px;
	float: left;
	margin: 7px 5px 0 27px;
}

.item_left_img2{
	display: block;
	width: 30px;
	height: 30px;
	background-image: url("../img/tubiao.png");
	background-repeat: no-repeat;
	background-position: 0 -453px;
	float: left;
	margin: 7px 5px 0 27px;
}

.item_left_img3{
	display: block;
	width: 30px;
	height: 30px;
	background-image: url("../img/tubiao.png");
	background-repeat: no-repeat;
	background-position: 0 -494px;
	float: left;
	margin: 7px 5px 0 27px;
}

.item_left_img4{
	display: block;
	width: 30px;
	height: 30px;
	background-image: url("../img/tubiao.png");
	background-repeat: no-repeat;
	background-position: 0 -531px;
	float: left;
	margin: 7px 5px 0 27px;
}

.item_left_img5{
	display: block;
	width: 30px;
	height: 30px;
	background-image: url("../img/tubiao.png");
	background-repeat: no-repeat;
	background-position: 0 -570px;
	float: left;
	margin: 7px 5px 0 27px;
}

.item_left_img6{
	display: block;
	width: 30px;
	height: 30px;
	background-image: url("../img/tubiao.png");
	background-repeat: no-repeat;
	background-position: 0 -607px;
	float: left;
	margin: 7px 5px 0 27px;
}

.item_left_img7{
	display: block;
	width: 30px;
	height: 30px;
	background-image: url("../img/tubiao.png");
	background-repeat: no-repeat;
	background-position: 0 -644px;
	float: left;
	margin: 7px 5px 0 27px;
}

.spfl .sp .list_item .item_blank{
	display: block;
	width: 6px;
	height: 45px;
	background-image: url("../img/tubiao.png");
	background-repeat: no-repeat;
	background-position: 0 -681px;
	float: left;
}

.spfl .sp .list_item .list_item_fgx{
	width: 191px;
	border-bottom: 1px solid #cbcbcb;
	float: left;
	margin-left: 10px;
}

.spfl .sp .list_item .list_item_child-1{
	width: 760px;
	height: 320px;
	position: absolute;
	left: 210px;
	top: 0;
	display: none;
	z-index: 10;
	background-color: #FFFFFF;
	border: 1px solid #77B001;

}

.spfl .sp .list_item .list_item_child-2{
	width: 760px;
	height: 320px;
	position: absolute;
	left: 210px;
	top: 0;
	display: none;
	z-index: 10;
	background-color: #FFFFFF;
	border: 1px solid #77B001;
}

.spfl .sp .list_item .list_item_child-3{
	width: 760px;
	height: 320px;
	position: absolute;
	left: 210px;
	top: 0;
	display: none;
	z-index: 10;
	background-color: #FFFFFF;
	border: 1px solid #77B001;
}

.spfl .sp .list_item .list_item_child-4{
	width: 760px;
	height: 320px;
	position: absolute;
	left: 210px;
	top: 0;
	display: none;
	z-index: 10;
	background-color: #FFFFFF;
	border: 1px solid #77B001;
}

.spfl .sp .list_item .list_item_child-5{
	width: 760px;
	height: 320px;
	position: absolute;
	left: 210px;
	top: 0;
	display: none;
	z-index: 10;
	background-color: #FFFFFF;
	border: 1px solid #77B001;
}

.spfl .sp .list_item .list_item_child-6{
	width: 760px;
	height: 320px;
	position: absolute;
	left: 210px;
	top: 0;
	display: none;
	z-index: 10;
	background-color: #FFFFFF;
	border: 1px solid #77B001;
}

.spfl .sp .list_item .list_item_child-7{
	width: 760px;
	height: 320px;
	position: absolute;
	left: 210px;
	top: 0;
	display: none;
	z-index: 100;
	background-color: #FFFFFF;
	border: 1px solid #77B001;
}

.spfl .sp .list_item:hover .list_item_child-1{
	display: block;
}

.spfl .sp .list_item:hover .list_item_child-2{
	display: block;

}

.spfl .sp .list_item:hover .list_item_child-3{
	display: block;

}

.spfl .sp .list_item:hover .list_item_child-4{
	display: block;

}

.spfl .sp .list_item:hover .list_item_child-5{
	display: block;

}

.spfl .sp .list_item:hover .list_item_child-6{
	display: block;

}

.spfl .sp .list_item:hover .list_item_child-7{
	display: block;

}

.spfl .sp .list_item:hover .item_blank{
	display: none;
}

.spfl .sp .list_item:hover{
	border-right: 1px solid #FFFFFF;
	border-top: 1px solid #77B001;
	border-left: 1px solid #77B001;
	border-bottom: 1px solid #77B001;
}

/*全部商品分类样式*/
.spfl span{
	padding-left: 50px;
}

.spfl .span_sp{
	display: inline-block;
	width: 14px;
	height: 12px;
	background-image: url("../img/tubiao.png");
	background-repeat: no-repeat;
	background-position: 0 -124px;
	position: absolute;
	top: 12px;
	left: 147px;
	
}

/*右边的导航条*/
.nav-item .item{
	height: 34px;
	padding: 0 34px 0 34px;
	float: left;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	
}

.nav-item .item a{
	color: #FFFFFF;
}

.nav-item .item:hover{
	background-color: #77b001;
}


/*轮播图*/
.slideBox{
	width: 100%;
	height: 320px;
	overflow: hidden;
	
}
.slideBox .container{
	position: relative;
}

.slideBox .hd{	
	height: 15px;
	position: absolute;
	right: 550px;
	bottom: 15px;
	z-index: -1;
	
}

.slideBox .hd ul{
	overflow: hidden;
	zoom: 1;
	float: left;
	
}

.slideBox .hd ul li{
	list-style: none;
	float: left;
	margin-right: 2px;
	width: 15px;
	height: 15px;
	line-height: 14px;
	text-align: center;
	background-color: black;
	color: #FFFFFF;
	border-radius: 50%;
	opacity: 0.5;
	cursor: pointer;
	margin-left: 10px;
}

.slideBox .hd ul li.on{
	background-color: #FF0000;
	color: #FFFFFF;
	border-radius: 50%;
	opacity: 0.5;
}

.slideBox .bd{
	width: 100%;
	height: 100%;
	
}

.slideBox .bd{
	position: relative;
	height: 100%;
	z-index: -2;
}

.slideBox .bd ul{
	width: 100%;
	height: 100%;
}

.slideBox .bd ul li{
	width: 100%;
	height: 100%;
}

.slideBox .bd ul li a{
	width: 100%;
	height: 100%;
	display: block;
	padding-left: 210px;
}

.slideBox .bd ul li a img{
	width: 760px;
	height: 320px;
	display: block;
}

.slideBox .container .banner_right{
	width: 1000px;
	height: 320px;
	float: right;
	position: absolute;
	right: -770px;
	top: 0;
}

.slideBox .container .banner_right img{
	width: 230px;
	height: 320px;
}

/*选项卡*/
/*选项卡模块*/
#xxk{
	width: 100%;
}

#xxk .container{
	height: 140px;
}

#xxk .xxk-rmss{
	width: 210px;
	height: 140px;
	background-color: #f3f3f3;
	border: 1px solid #e9e9e9;
	padding: 8px 0 0 11px;
}

.xxk-rmss p{
	color: #666666;
	font-size: 14px;
	font-weight: bold;
	height: 26px;
}

.xxk-rmss div{
	width: 57px;
	height: 27px;
	background-color: #E9E9E9;
	margin: 4px 8px 0 0;
	text-align: center;
	background-color: #FFFFFF;
}
.xxk-rmss a{
	font-size: 12px;
	line-height: 27px;
	color: #666666;	
}

.xxk-rmss div:hover{
	background-color: #ff6600;
}

.xxk-rmss div:hover a{
	color: #FFFFFF;
}

.xxk-spzs{
	padding: 9px;
}
.xxk-spzs .xs-img a{
	display: inline-block;
	width: 246px;
	height: 131px;
}

.xxk-spzs .xs-img a:hover img{
	opacity: 0.8;
}

.xxk-xxk{
	width: 218px;
	height: 138px;
	border: 1px solid #E9E9E9;
	background-color: #FFFFFF;
}

.xxk-xxk .xx-u1{
	width: 218px;
	height: 28px;
	
}

.xxk-xxk .xx-u1 li{
	width: 108px;
	height: 27px;
	background-color: #f4f4f4;
}

.xxk-xxk .xx-u1 li a{
	display: inline-block;
	width: 108px;
	height: 27px;
	line-height: 28px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid #E9E9E9;
	color: #666666;
	
}


/*.xx-u1 li:hover{
	background-color: #FFFFFF;
	color: #ff6600;
}*/
.xx-u1 li:hover a{
	color: #ff6600;
}

.xxk-xxk .xx-u2{
	padding: 10px;
	display: none;
}
.xxk-xxk .xx-u2 li a{
	width: 206px;
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	color: #666666;
}

.xxk-xxk .xx-u2 li:hover a{
	color: #FF6600;
}

.xxk-xxk .xx-u1 li.active{
	background-color: white;
}


/*大选项卡模块*/
#xx_bottom{
	width: 100%;
	height: 100%;
	margin-top: 10px;
	margin-bottom: 40px;
	
}

#xx_bottom .container{
	height: 182px;
	border: 1px solid #CCCCCC;
}

#xx_bottom .xb_left{
	width: 210px;
	height: 182px;	
	
}

#xx_bottom .xb_left .xb_left_top{
	height: 91px;
	width: 210px;
	background-image: url("../img/icon3.gif");
	background-repeat: no-repeat;
}

#xx_bottom .xb_left .xb_left_top a{
	width: 210px;
	height: 91px;
	display: block;
}

#xx_bottom .xb_left .xb_left_top{
	height: 91px;
	width: 210px;
	background-image: url("../img/icon3.gif");
	background-repeat: no-repeat;
	background-position: 0 0px;
}

#xx_bottom .xb_left .xb_left_bottom{
	height: 91px;
	width: 210px;
	background-image: url("../img/icon3.gif");
	background-repeat: no-repeat;
	background-position: 0 -91px;
}

#xx_bottom .xb_left .xb_left_bottom a{
	width: 210px;
	height: 91px;
	display: block;
}

/*#xx_bottom .xb_left .xb_left_bottom:hover{
	background-position: 0 -273px;
}*/

#xx_bottom .xb_left .xb_left_top1{
	height: 91px;
	width: 210px;
	background-image: url("../img/icon3.gif");
	background-repeat: no-repeat;
	background-position: 0 -182px;
}

#xx_bottom .xb_left .xb_left_bottom1{
	height: 91px;
	width: 210px;
	background-image: url("../img/icon3.gif");
	background-repeat: no-repeat;
	background-position: 0 -275px;
}

/*大选项卡切换部分*/
#xx_bottom .xb_right{
	width: 980px;
	height: 180px;
}

#xx_bottom .xb_right .xb_right1{
	width: 980px;
	height: 180px;
	/*display: none;*/
}

#xx_bottom .xb_right .xb_right1 ul{
	width: 989px;
	height: 180px;
}

#xx_bottom .xb_right .xb_right1 ul li{
	width: 197px;
	height: 180px;
	float: left;
}

#xx_bottom .xb_right .xb_right1 ul li a{
	width: 197px;
	height: 180px;
	
}

#xx_bottom .xb_right .xb_right1 ul li a img{
	width: 135px;
	height: 135px;
	margin-left: 30px;
	
}

#xx_bottom .xb_right .xb_right1 ul li a img:hover{
	width: 135px;
	height: 135px;
	margin-left: 25px;
	transition: all 0.3s linear; 
}

#xx_bottom .xb_right .xb_right1 ul li p{
	width: 100%;
	text-align: center;
	font-size: 12px;
	color: #666666;
	line-height: 20px;
	margin-top: 3px;
}

#xx_bottom .xb_right .xb_right1 ul li p>span{
	font-size: 14px;
	color: #FF6600;
}

/*第二块*/
#xx_bottom .xb_right .xb_right2{
	width: 980px;
	height: 180px;
	display: none;
}

#xx_bottom .xb_right .xb_right2 ul{
	width: 989px;
	height: 180px;
}

#xx_bottom .xb_right .xb_right2 ul li{
	width: 197px;
	height: 180px;
	float: left;
}

#xx_bottom .xb_right .xb_right2 ul li a{
	width: 197px;
	height: 180px;
	
}

#xx_bottom .xb_right .xb_right2 ul li a img{
	width: 135px;
	height: 135px;
	margin-left: 30px;
	
}

#xx_bottom .xb_right .xb_right2 ul li a img:hover{
	width: 135px;
	height: 135px;
	margin-left: 25px;
	transition: all 0.1s linear; 
}

#xx_bottom .xb_right .xb_right2 ul li p{
	width: 100%;
	text-align: center;
	font-size: 12px;
	color: #666666;
	line-height: 20px;
	margin-top: 3px;
}

#xx_bottom .xb_right .xb_right2 ul li p>span{
	font-size: 14px;
	color: #FF6600;
}


/*1F楼层样式*/
#floor-1f{
	width: 100%;
	height: 100%;
	
}

#floor-1f .container{
	height: 750px;
}

#floor-1f .container .f1_ul{
	height: 30px;
	border-bottom: 3px solid #72b7fc;
}

#floor-1f .container .f1_ul .li1{
	width: 210px;
	height: 27px;
	
}

#floor-1f .container .f1_ul .li1 h2{
	color: #72b7fc;
	font-size: 19px;
	line-height: 27px;
}

#floor-1f .container .f1_ul .li2{
	height: 27px;
	width: 530px;
	font-size: 12px;
	line-height: 30px;
	color: #666666;
	
}

#floor-1f .container .f1_ul .li2 a{	
	color: #666666;
	margin: 0 4px 0 4px;
}

#floor-1f .container .f1_ul .li2 a:hover{
	color: #FF6600;
}

#floor-1f .container .f1_ul .li3{
	width: 417px;
	height: 27px;
	line-height: 30px;
	font-size: 12px;
	color: #666666;

}

#floor-1f .container .f1_ul .li3 a{
	color: #666666;;
	margin: 0 4px 0 4px;
}

#floor-1f .container .f1_ul .li3 a:hover{
	color: #FF6600;
}

#floor-1f .container .f1_ul .li4{
	width: 40px;
	height: 27px;
	line-height: 27px;

}

#floor-1f .container .f1_ul .li4 a{
	font-size: 12px;
	position: relative;
	color: #666666;
}

#floor-1f .container .f1_ul .li4 a:hover{
	color: #FF6600;
}

#floor-1f .container .f1_ul .li4 i{
	display: inline-block;
	width: 13px;
	height: 13px;
	background-image: url("../img/tubiao.png");
	background-repeat: no-repeat;
	background-position: 0 -727px;
	position: absolute;
	right: -14px;
	top: 1px;
}

#floor-1f .f1_left{
	width: 215px;
	height: 720px;
}

#floor-1f .f1_left .f1_left_top{
	width: 215px;
	height: 360px;
	background-color: cyan;
}

#floor-1f .f1_left .f1_left_bottom{
	width: 215px;
	height: 360px;
	background-color: royalblue;
}

#floor-1f .f1_right{
	width: 985px;
	height: 720px;
	background-color: teal;
}

/*尾部*/
#footed{
	width: 100%;
	height: 400px;
	background-color: #f0f0f0;
	margin: 0 auto;
	text-align: center;
}

#footed .container{
	height: 400px;
}

#footed .ft-2{
	width: 970px;
	height: 130px;
	padding: 20px 0 20px 70px;
	margin: 0 auto;
	border-top: 1px solid #FFFFFF;
}

#footed .ft-2 ul{
	float: left;
	width: 150px;
	color: #666666;
}

#footed .ft-2 ul h4{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}

#footed .ft-2 ul li{
	font-size: 12px;
	line-height: 160%;
	color: #999;
	cursor: pointer;
}

#footed .ft-2 ul li:hover{
	color: #FF6600;
}

#footed .ft-3{
	padding: 14px;
	border-top: 1px solid #FFFFFF;
	font-size: 12px;
	color: #999999;
}

#footed .ft-3 a{
	color: #999999;
	margin-right: 5px;
}

#footed .ft-3 a:hover{
	color: #FF6600;
}

#footed .ft-3 p{
	padding-top: 5px;
}

#footed .ft-4{
	height: 50px;
	/*display: inline-block;*/
	
}

#footed .ft-4 a{
	width: 116px;
	height: 50px;
	display: inline-block;
	margin-right: 30px;
}
