*{
	margin: 0;
	padding: 0;
}

img{
	display: block;
}

.banner{
	width: 210px;
	height: 360px;
	margin:10% auto;
	background:#cccccc;
	overflow: hidden;
	position: relative;
}

.banner ul{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
}

.banner ul li{
	display: block;
	width: 210px;
	height: 360px;
	float: left;
}

.banner .con{
	position: absolute;
	left: 30%;
	bottom: 5%;
	z-index: 101;
}

.banner .con a{
	width: 40px;
	height: 5px;
	float: left;
	/*margin-right: 8px;*/
	display: block;
	/*border-radius: 100%;*/
	background-color: #666666;
	z-index: 101;
}

.banner .con a.active{
	background-color: #90C221;
}

.banner .u{
	width: 30px;
	height: 20px;
	background: rgba(255,255,255,0.5);
	display: none;
}

/*.banner .left{
	position:absolute;
	top:40%;
	left:2%;
	z-index:103;
}

.banner .right{
	position:absolute;
	top:40%;
	right:2%;
	z-index:103;
}*/
