body {
  background-color: #F0F0F0;
}

#res {
  width: 100%;
  height: 100%;
}

#res_logo {
  width: 100%;
  height: 150px;
  padding-top: 40px;
}
#res_logo div {
  width: 1200px;
  height: 60px;
  margin: 0 auto;
  padding: 0 65px;
}
#res_logo div a {
  float: left;
}
#res_logo div h2 {
  float: left;
  color: #666666;
  font-size: 18px;
  font-weight: 100;
  margin-left: 20px;
  line-height: 81px;
}
#res_logo div div {
  width: 510px;
  height: 55px;
  line-height: 17px;
  background-color: #fdf7e9;
  border: 1px solid #edae1b;
  font-size: 12px;
  padding: 5px 10px;
  margin-left: 530px;
  color: #666666;
}

#main {
  width: 100%;
  height: 480px;
  background-color: #dff3fe;
}
#main div {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
#main div form {
  width: 340px;
  height: 400px;
  position: absolute;
  top: 45px;
  right: 0;
  background: rgba(255, 255, 255, 0.5);
}
#main div form .zhuce {
  width: 280px;
  height: 40px;
  line-height: 40px;
  margin: 30px 30px 0 30px;
}
#main div form .zhuce div:nth-child(1) {
  width: 140px;
  font-size: 22px;
  font-weight: bold;
  float: left;
  color: #77B001;
}
#main div form .zhuce div:nth-child(2) {
  width: 140px;
  float: right;
  font-size: 12px;
  line-height: 40px;
}
#main div form .zhuce div:nth-child(2) a {
  color: #90C221;
}
#main div form .zhuce div:nth-child(2) a i {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../img/tubiao.png);
  background-repeat: no-repeat;
  background-position: -412px -940px;
}
#main div form .yanzheng {
  width: 340px;
  height: 276px;
}
#main div form .yanzheng ul {
  width: 280px;
  height: 150px;
  margin: 15px auto;
}
#main div form .yanzheng ul li:nth-child(1) {
  width: 278px;
  height: 38px;
}
#main div form .yanzheng ul li:nth-child(1) input {
  width: 278px;
  height: 36px;
  float: left;
  border: 1px solid #CCCCCC;
  padding-left: 43px;
  position: relative;
}
#main div form .yanzheng ul li:nth-child(1) i {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../img/tubiao.png");
  background-repeat: no-repeat;
  background-position: -502px -911px;
  float: left;
  position: absolute;
  top: 5px;
  left: 35px;
  z-index: 1;
}
#main div form .yanzheng ul li:nth-child(1) span {
  display: inline-block;
  width: 1px;
  height: 17px;
  background-color: #bdbdbd;
  position: absolute;
  top: 10px;
  left: 65px;
  z-index: 1;
}
#main div form .yanzheng ul .yzm {
  width: 278px;
  height: 38px;
  margin-top: 20px;
}
#main div form .yanzheng ul .yzm input {
  width: 278px;
  height: 36px;
  float: left;
  border: 1px solid #CCCCCC;
  padding-left: 10px;
  position: relative;
}
#main div form .yanzheng ul .yzm span {
  display: inline-block;
  width: 104px;
  height: 32px;
  border: 1px solid #94C51B;
  position: absolute;
  top: 60px;
  right: 33px;
}
#main div form .yanzheng ul .zcmm {
  width: 278px;
  height: 38px;
  margin-top: 20px;
}
#main div form .yanzheng ul .zcmm input {
  width: 278px;
  height: 36px;
  float: left;
  border: 1px solid #CCCCCC;
  padding-left: 43px;
  position: relative;
}
#main div form .yanzheng ul .zcmm i {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../img/tubiao.png");
  background-repeat: no-repeat;
  background-position: -550px -911px;
  float: left;
  position: absolute;
  top: 122px;
  left: 35px;
  z-index: 1;
}
#main div form .yanzheng ul .zcmm span {
  display: inline-block;
  width: 1px;
  height: 17px;
  background-color: #bdbdbd;
  position: absolute;
  top: 125px;
  left: 65px;
  z-index: 1;
}
#main div form .yanzheng .ect {
  width: 280px;
  height: 25px;
  line-height: 25px;
  text-align: left;
}
#main div form .yanzheng .zcan {
  width: 280px;
  height: 36px;
}
#main div form .yanzheng .zcan input {
  width: 280px;
  height: 36px;
  background-color: #f60;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 2px;
}

#res_footed {
  width: 100%;
  height: 200px;
  background-color: #F0F0F0;
}
#res_footed .zjbf {
  height: 150px;
  margin-top: 20px;
}
#res_footed .zjbf div:nth-child(1) {
  padding: 14px;
  text-align: center;
}
#res_footed .zjbf div:nth-child(1) p {
  font-size: 12px;
  color: #999999;
  padding-top: 5px;
}
#res_footed .zjbf div:nth-child(1) p a {
  color: #999999;
}
#res_footed .zjbf div:nth-child(1) p a:hover {
  color: #FF6600;
}
#res_footed .zjbf div:nth-child(1) a {
  font-size: 12px;
  text-align: center;
  margin-right: 5px;
  color: #999999;
}
#res_footed .zjbf div:nth-child(1) a:hover {
  color: #FF6600;
}
#res_footed .zjbf div:nth-child(1) span {
  font-size: 12px;
  color: #999999;
}
#res_footed .zjbf div:nth-child(2) {
  width: 462px;
  height: 40px;
  background-image: url("../img/FTC-01-bg3.jpg");
  background-repeat: no-repeat;
  margin: 0 auto;
}
#res_footed .zjbf div:nth-child(2) a {
  width: 115px;
  height: 40px;
  float: left;
}

/*# sourceMappingURL=res.css.map */
